.ingredientsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    gap: 1rem;
    background-color: var(--backgroundColor);
}

.ingredientsContainer h1 {
    color: var(--textColor);
    font-size: 3rem;

}

.ingredientForm {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.ingredientForm input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
}

.ingredientForm button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ingredientForm button:hover {
    background-color: var(--accentColor);
}
