.content{
    padding: 10rem 2rem;
    display: flex;
    background-color: var(--backgroundColor);
}
.rightContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    color: var(--textColor);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.rightContainer p {
    padding: 1.5rem;
    font-size: 1.1rem;
    background-color: var(--primaryColor);
    border-left: 4px solid var(--secondaryColor);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.rightContainer h1{
    font-size: 2rem;
}
.leftContainer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftContainer img{
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    opacity: 70%;
}
